aiohttp==3.14.1
aioredis==2.0.1
async-timeout==5.0.1
attrs==26.1.0
bandersnatch==6.6.0
chardet==7.4.3
gunicorn==26.0.0
hiredis==3.4.0
idna==3.18
multidict==6.7.1
mypy==1.16.0
uvloop==0.22.1
yarl==1.24.2
